//Eric Meyer CSS Reset

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

:root {
  --main-bg-color: #232323;
  --h1-bg-color: #584fbd;
}

html {
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--main-bg-color, #232323);
  color: beige;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
  padding: 20px 0;
  font-weight: 700;
  background-color: var(--h1-bg-color, #584fbd);
}

#colorDisplay {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 500px;
  justify-items: center;
  align-items: center;
  margin: 30px auto;
}

.square {
  background: hsl(0, 0, 1);
  width: 150px;
  height: 150px;
  max-height: 150px;
  max-width: 150px;
  height: 25vw;
  width: 25vw;
  color: white;
  font-size: 2em;
  text-align: center;
  border-radius: 15%;
  transition: background-color 0.5s;
}

#message {
  color: white;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 2rem;
}

#stripe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 1em;
}

.selected {
  background-color: #115641;
}

button {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  background: none;
  color: hsla(0, 0%, 100%, 0.8);
  border-radius: 5px;
  font-weight: 700;
  border: none;
  margin: auto;
  padding: 0.75rem 1rem;
  text-align: center;
  display: block;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: darken(#27c190, 25%);
    color: hsla(0, 0%, 100%, 0.8);
  }
}
